transformers==4.51.3
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
faiss-cpu==1.10.0
numpy==2.2.5
streamlit==1.44.1
streamlit-folium==0.25.0
streamlit-image-coordinates==0.2.1
ortools==9.12.4544
opencv-python-headless==4.11.0.86
